<?php

$finder = PhpCsFixer\Finder::create()
    ->in(['src', 'tests', 'web', 'app', 'bin'])
    ->notName('*.plist.twig');

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@DoctrineAnnotation' => true,
        'array_syntax' => ['syntax' => 'short'],
        'ordered_imports' => true,
        'yoda_style' => false,
    ])
    ->setFinder($finder);
